.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282020;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ca3b45;
}

.App-link {
  color: #6dadc7;
}
input {
  height:10vh;
  width: 30vw;
  font-size: 3vh;
  text-align: center;
}
.li {
  color: #ca3b45;
}
li {
  color: #6dadc7
}
.add {
  width: 10vw;
}
.x {
  margin-left: 5px;
  margin-bottom: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.beerName {
  color: #ceecf1;
  font-weight: 800;
  
}
.beer {
  background: #282020;
  font-weight: 800;
}